::selection { background-color: #C3CFE2; }

.text{
  text-transform: uppercase;
	background: linear-gradient(to right, #eef0f0 0%, #330867 70%);
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 20rem;
  font-size: 2rem;
}
