@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root{
  *{
    font-family: 'Bungee', cursive;
    background-color: #1d1d1d;
    color: #39FF14;
  }
}

html, body { height: 100%; }
body { margin: 0; }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
